<div class="row">
  <% @schedule.each do |day| %>
    <div class="col-md-6">
      <h2><%= day["name"] %>, <%= day["date"] %></h2>
      <% day["events"].each do |event| %>
        <div class="event speakers--info">
          <h4 class="text-left">
            <%= format_time(event["start_time"], event["length"]) %>
            <a href="/speakers#<%= format_speaker_link(event["name"]) %>">
              <span class="speakers--name"><%= event["name"] %></span>
            </a>
          </h4>
          <a href="/speakers#<%= format_speaker_link(event["name"]) %>">
            <em><%= event["title"] %></em>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
