<%# Day 1 Speakers %>
<div class="row callouts">
  <img class="confetti" src="img/smile_confetti.png">
  <h1 class="pink">
    Presenting at OS&F
  </h1>
</div>

<%
  color_classes = %w(blue pink purple)
  color_index = 0
%>

<% @speakers.each_with_index do |peep, row_index| %>
  <div class="col-md-6 text-center speakers--info">
    <div class="speakers--info-box">
      <img src="img/presenters/<%= peep["headshot"] %>" alt="<%= peep["name"] %>" class="speakers--img"/>
      <h2 class="speakers--name"><%= peep["name"] %></h2>
      <p class="speakers--bio"><%= peep["bio"] %></p>
    </div>
    <div class="speakers--talk-box">
      <h3 class="speakers--title"><%= peep["title"]%></h3>
      <p class="speakers--abstract"><%= peep["abstract"] %></p>
    </div>
  </div>
  <% if row_index % 2 != 0 %><div class="clearfix">&nbsp;</div><% end %>
<% end %>

<%# Day 2 Speakers %>
<%# Saving this for when the schedule is more firm. -jnf
<div class="row callouts">
  <img class="confetti" src="img/heart_confetti.png">
  <h2 class="yellow">
    Day Two Speakers
  </h2>
</div>
%>
