<div class="row callouts confetti confetti--smile">
  <h1 class="pink">
    Presenting at OS&F
  </h1>
</div>

<div class="row">
  <% @speakers.each do |speaker| %>
    <div class="col-md-6 speakers--info">
      <a name="<%= speaker["name"].downcase.gsub /\s+/, '-' %>"></a>
      <div class="speakers--info-box">
        <img src="img/presenters/<%= speaker["headshot"] %>" alt="<%= speaker["name"] %>" class="speakers--img img-rounded"/>
        <h2 class="speakers--name">
          <%= speaker["name"] %>
        </h2>
        <h3 class="speakers--title text-left"><%= speaker["title"]%></h3>
      </div>
      <div class="speakers--abstract">
        <p><%= speaker["abstract"] %></p>
      </div>
      <% if speaker["bio"] != "" %>
        <div class="speakers--bio">
          <h4 class="text-left">Speaker Bio</h4>
          <p><%= speaker["bio"] %></p>
        </div>
      <% end %>
      <div class="speakers--contact">
        <% if speaker["handle"] %>
          <a class="speakers--handle" href="http://twitter.com/<%= speaker["handle"] %>" target="_blank">
            @<%= speaker["handle"] %>
          </a>
        <% end %>
        <% if speaker["website"] %>
          <a class="speakers--website" href="<%= speaker["website"] %>" target="_blank">
            Website
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
