<div class="row page--title confetti confetti--heart">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="blue">Thank You to Our Sponsors!</h1>
    <p>Open Source & Feelings wouldn't be possible without the support of our wonderful sponsors.</p>
  </div>
</div>
<div class="sponsors--level callouts confetti confetti--lightning">
  <div class="row">
    <div class="col-md-12">
      <h2 class="purple">
        Committer Sponsors
      </h2>
    </div>
  </div>
  <% @sponsors["committers"].sort_by { |sponsor| sponsor["name"] }
      .each do |sponsor| %>
    <div class="row sponsors--section">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="committer" id="<%= generate_slug(sponsor["name"]) %>">
          <a href="<%= sponsor["url"] %>" target="_blank">
            <img src="img/sponsors/<%= sponsor["image"] %>" alt="<%= sponsor["name"] %> logo" class="img-responsive center-block"/>
          </a>
        </h3>
        <% if sponsor["blurb"] %>
          <p><%= sponsor["blurb"] %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="sponsors--level callouts confetti confetti--smile">
  <div class="row">
    <div class="col-md-12">
      <h2 class="purple">
        Contributor Sponsors
      </h2>
    </div>
  </div>
  <div class="row sponsors--section">
    <% @sponsors["contributors"].sort_by { |sponsor| sponsor["name"] }
        .each do |sponsor| %>
      <div class="col-md-6">
        <h3 class="contributor" id="<%= generate_slug(sponsor["name"]) %>">
          <a href="<%= sponsor["url"] %>" target="_blank">
            <img class='<%= "padded-logo" if sponsor["pad-logo"] %> img-responsive center-block' src="img/sponsors/<%= sponsor["image"] %>" alt="<%= sponsor["name"] %> logo" />
          </a>
        </h3>
        <% if sponsor["blurb"] %>
          <p><%= sponsor["blurb"] %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row callouts sponsors--cta confetti confetti--heart">
  <div class="col-md-12">
    <h2 class="blue">Interested in Sponsoring OS Feels 2015?</h2>
    <div class="text-center">
      <a href="/prospectus" class="btn btn-danger">Download Prospectus</a>
    </div>
  </div>
</div>
